body{
	background-color: var(--cream-background);
}

.main__content{
	background-color: var(--white);
	border-radius: 20px;
	display: flex;
	margin: 0 auto;
	margin-top:1.5rem;
	margin-bottom: 1.5rem;
	max-width: 375px;
}

.product__img{
	width: 100vw;
	max-width: 375px;
	border-radius: 20px 20px 0 0;
	
	
}

.content{
	padding: 1.2rem;
}

.subtitulo__texto{
	font-family: var(--font-montserrat);
	color: var(--dark-grayish-blue);
}

.titulo__principal{
	padding: 1.1rem 0;
	font-family: var(--font-fraunces);
}

.paragrph{
	margin-bottom: 1.2rem;
	font-size:14px;
	font-family: var(--font-montserrat);
	line-height: 1.2rem;
	color: var(--dark-grayish-blue);

}

.content__price{
	display: flex;
	flex-direction: row;
}

.price{
	margin-right: 1.2rem;
}

.price:nth-child(1){
	color: var(--dark);
	font-size: 2rem;
	font-family: var(--font-fraunces);
}

.price:nth-child(2){
	margin-top: 0.8rem;
	
}

.button__cart{
	background-color: var(--dark);
	color: var(--white);
	width: 100%;
	padding: 0.9rem;
	border: none;
	border-radius: 10px;
	margin-top: 0.7rem;
	font-family: var(--font-fraunces);
}

.button__cart__icon{
	margin-right: 0.9em;
	padding-top: 0.2em;
}


@media screen and (min-width: 1450px) {
	.main__content{
		display: flex;
		flex-direction: column;
		width: 750px;
		max-width: 1450px;
	}

}
